
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
/* 
:root{
    1. Green : #1A4D2E
2. Light Black : #242424
3. White : #ffffff
4. Gray : #757575
5. Button Gradient : #242424, #1A4D2E
} */

.container-fluid{
    height: 100vh;
    width: 100%;
    background: url("img/background.jpeg"), rgba(0, 0, 0, 0.659);
    background-size: cover;
    background-blend-mode: overlay;

    position: relative;
}
.container{
    padding: 30px;
    width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 10px;

    /* taking the box in center  */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.formTitle{
    color: #1A4D2E;
    font-weight: 500;
    margin-bottom: 10px;
}

.formImg{
    width: 300px;
}

form{
    /* border: 1px solid red; */
}
.row{
    /* border: 1px solid green; */
    margin-top: 20px;
}
.col{
    display: inline-block;
    width:49%;
    /* border: 1px solid orange; */
    padding:0px 8px;
}

.bigcol{
    padding: 5px;
    text-align: start;
}

.input{
    padding: 13px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1A4D2E;
    font-size: 17px;
}

.btn{
    width: 100%;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, #242424, #1A4D2E);
}